# Dependency directories
node_modules/
jspm_packages/

stephangriesel: dog-app
* npm i graphql express-graphql express axios
npm notice created a lockfile as package-lock.json. You should commit this file.
+ axios@0.18.0
+ express-graphql@0.7.1
+ express@4.16.4
+ graphql@14.0.2
added 61 packages from 42 contributors and audited 150 packages in 2.59s
found 0 vulnerabilities

stephangriesel: dog-app
* npm i -D nodemon

> fsevents@1.2.4 install /Users/stephangriesel/Google Drive/Websites/stephangriesel.com/dog-app/node_modules/fsevents
> node install

[fsevents] Success: "/Users/stephangriesel/Google Drive/Websites/stephangriesel.com/dog-app/node_modules/fsevents/lib/binding/Release/node-v64-darwin-x64/fse.node" already installed
Pass --update-binary to reinstall or --build-from-source to recompile

> nodemon@1.18.6 postinstall /Users/stephangriesel/Google Drive/Websites/stephangriesel.com/dog-app/node_modules/nodemon
> node bin/postinstall || exit 0

Love nodemon? You can now support the project via the open collective:
 > https://opencollective.com/nodemon/donate

+ nodemon@1.18.6
added 285 packages from 146 contributors and audited 2388 packages in 7.643s
found 0 vulnerabilities

** update scripts in package.json
"scripts": {
    "start": "node server.js",
    "server": "nodemon server.js"
  },

** add server.js
add the follwoing
https://github.com/graphql/express-graphql